{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "printWidth": 75,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "quoteProps": "as-needed"
}
